<div class="page-header">
      <h1 class="page-title">Maquinas</h1><h4>{{semanaActual}}</h4>
      <div class="page-header-actions">
        <form>
          <div class="input-search input-search-dark">
            <i class="input-search-icon md-search" aria-hidden="true"></i>
            <input type="text" class="form-control search" name="" placeholder="Buscar...">
          </div>
        </form>
      </div>
      <div class="col-md-6">
      <div class="col-md-6">
        <div class="pull-xs-left m-r-20">
          <input type="checkbox" data-size="large" id="tareas" name="tareas" data-plugin="switchery" data-tag="filtro" class="filtros" 
          checked />
        </div>
        <label class="p-t-3" for="tareas">Ocultar Tareas <br>Completadas</label>
        </div>
        <div class="col-md-6">
        <div class="pull-xs-left m-r-20">
          <input type="checkbox" data-size="large" id="semanas" name="semanas" data-plugin="switchery" data-tag="filtro" class="filtros" 
          checked />
        </div>
        <label class="p-t-3" for="semanas">Ocultar Tareas <br>Otras Semanas</label>
        </div>
        </div>
    </div>
    <div class="page-content">
      <div class="projects-sort">

      </div>
      <div class="projects-wrap">
        <ul class="blocks blocks-100 blocks-xxl-5 blocks-lg-4 blocks-md-3 blocks-sm-2 list"
        data-plugin="animateList" data-child=">li">
          {{#each maquinas}}
            {{> maquina admin=../admin}}
          {{/each}}
        </ul>
      </div>
    </div>
      </div>
         {{#if admin }}
          <div class="site-action" data-target="#addProjectForm" data-toggle="modal" data-plugin="actionBtn">
            <button type="button" data-action="add" class="site-action-toggle btn-raised btn btn-success btn-floating">
              <i class="icon md-plus" aria-hidden="true"></i>
            </button>
          </div>
      {{/if}}

      {{#if adminArea }}
          <div class="site-action" data-target="#addProjectForm" data-toggle="modal" data-plugin="actionBtn">
            <button type="button" data-action="add" class="site-action-toggle btn-raised btn btn-success btn-floating">
              <i class="icon md-plus" aria-hidden="true"></i>
            </button>
          </div>
      {{/if}}

  <!-- End Site Action -->
  <!-- Add Project Form -->
  <div class="modal fade" id="addProjectForm" aria-hidden="true" aria-labelledby="addProjectForm"
  role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
          <h4 class="modal-title" id="titulo">AGREGAR NUEVA MAQUINA</h4>
        </div>
        <div class="modal-body" style="margin-bottom: 120px;">
          <form action="#" method="post" role="form" id="nuevamaquina" class="form-horizontal">
            <div class="form-group form-material">
              <label class="form-control-label col-sm-4" for="name">NOMBRE:</label>
              <div class="col-sm-8"><input type="text" class="form-control" id="componentName" name="componentName" placeholder="Nombre"></div>
            </div>
            <div class="form-group form-material">
              <label class="form-control-label col-sm-4" for="name">MARCA:</label>
              <div class="col-sm-8"><input type="text" class="form-control" id="vendor" name="vendor" placeholder="Marca"></div>
            </div>
            <div class="form-group form-material">
            <label class="form-control-label col-sm-4" for="name">IMAGEN:</label>
                  <div class="col-sm-8 input-group input-group-file " style="width: 66.666667%">
                    <input type="text" class="form-control" name="nimagen" id="nimagen" readonly="">
                    <input type="hidden" class="form-control" name="componentImg" id="componentImg" readonly="">
                    <input type="hidden" class="form-control" name="id" id="id" readonly="">
                    <span class="input-group-btn">
                      <span class="btn btn-success btn-file waves-effect waves-light">
                        <i class="icon md-upload" aria-hidden="true"></i>
                        <input type="file" name="imagen" id="imagen" multiple="">
                      </span>
                    </span>
                  </div>
                </div>
              <div class="form-group form-material">
                <label class="form-control-label col-sm-4" for="name">ÁREA:</label>
                <div class="col-sm-8">
                    {{#if adminArea}}
                        <input type="text" class="form-control" id="area" name="area" placeholder="Área" value="{{area}}" disabled>
                    {{else}}
                        <input type="text" class="form-control" id="area" name="area" placeholder="Área">
                    {{/if}}
                </div>
            </div>
           </form>
        </div>
     
        <div class="modal-footer text-xs-right" style="margin-top: 20px">
          <button class="btn btn-primary" type="button" onclick="enviarmaquina();" id="guardar">Crear</button>
          <a class="btn btn-sm btn-white btn-pure" data-dismiss="modal" href="javascript:void(0)">Cancelar</a>
        </div>
      </div>
    </div>