    <div class="page-header">
      <h1 class="page-title">Tipos de Mantenimiento</h1>
      <div class="breadcrumb">
        <button type="button" class="btn btn-sm btn-primary btn-round" onclick="window.open('/detalleComponente?id={{equipo.id}}', '_self')">
        <i class="icon md-chevron-left" aria-hidden="true"></i>
          <span class="text hidden-sm-down">Regresar a {{equipo.componentName}}</span>
        </button>
      </div>
    </div>
    <div class="page-content container-fluid">
      <!-- Panel Select 2 -->
      <div class="panel">
        <div class="panel-body container-fluid">
          <div class="row row-lg">
            <div class="col-md-6 col-xl-4 col-xs-12">
              <!-- Example Placeholders -->
              <div class="example-wrap">
                <h4 class="example-title">Tipo Mantenimiento</h4>
                <div class="example">
                  <select class="form-control" data-plugin="select2" data-placeholder="Select a State"
                  data-allow-clear="true">
                    <option></option>
                    <optgroup label="Mantenimiento T1">
                      <option value="AK">TBA</option>
                      <option value="HI">JKO</option>
                    </optgroup>
                    <optgroup label="Mantenimiento T2">
                      <option value="CA">ABC</option>
                      <option value="NV">DEF</option>
                      <option value="OR">GHI</option>
                      <option value="WA">JKP</option>
                    </optgroup>
                    <optgroup label="Mantenimiento T3">
                      <option value="AZ">DDF</option>
                    </optgroup>
                  </select>
                </div>
              </div>
              <!-- End Example Placeholders -->
            </div>
            <div class="col-md-6 col-xs-12">
              <!-- Example Maxlength Textarea -->
              <div class="example-wrap">
                <h4 class="example-title">NOTAS</h4>
                <div class="example">
                  <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside"
                  maxlength="100" rows="3" placeholder="PUEDE COLOCAR HASTA 100 CARACTERES."></textarea>
                </div>
              </div>
              <!-- End Example Maxlength Textarea -->
            </div>
            <div class="page-header-actions">
        <button type="button" class="btn btn-sm btn-icon btn-primary btn-round" data-toggle="tooltip"
        data-original-title="Save">
          <i class="icon md-floppy" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-sm btn-icon btn-primary btn-round" data-toggle="tooltip"
        data-original-title="Edit">
          <i class="icon md-edit" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-sm btn-icon btn-primary btn-round" data-toggle="tooltip"
        data-original-title="Refresh">
          <i class="icon md-refresh-alt" aria-hidden="true"></i>
        </button>
      </div>
          </div>
        </div>
      </div>
    </div>